<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ManagementNomenclaturesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.23.31:57772/csp/webservices/ManagementNomenclatures.ManagementNomenclatures.cls"
                binding="basicHttpBinding" bindingConfiguration="ManagementNomenclaturesSoap"
                contract="SoapProxy.ManagementNomenclaturesSoap" name="ManagementNomenclaturesSoap" />
        </client>
    </system.serviceModel>
</configuration>